

  <style>
    #custom-storeLocator {
      height: 100vh; /* Set the map height to full viewport height */
    }
  </style>
  {% comment %} <link href="{{ 'customStyle.css' | asset_url}}" rel="stylesheet" type="text/css" /> {% endcomment %}
  {% comment %} <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script> {% endcomment %}

  <link href="{{ 'main.d5dae646.css' | asset_url}}" rel="stylesheet" type="text/css"></link>

  <script src="{{ 'main.4ad1b126.js' | asset_url }}" defer="defer"></script>

  <div id="root"></div>





{% schema %}
{
  "name": "Store Locator",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}




